header {
    .header-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 110px;

        img {
            border-radius: 20px 0 20px 20px;
        }

        img:hover {
            box-shadow: 0 10px 15px rgba(11, 117, 114, 0.2);
            mix-blend-mode: multiply;
        }

        .header-img2 {
            display: none;
        }
    }

    .header-br {
        display: none;
    }

    .header-item {
        max-width: 50%;
    }

    .header-title {
        @include heading-h1;
        color: $black;
    }

    .header-p {
        @include p;
        max-width: 86%;
        margin: 40px 0;
    }

    .header-link {
        @include p;
        color: $black;
        border-bottom: 3px solid $yellow;
        font-weight: 700;
    }

    .header-link:hover {
        color: $green;
        border-bottom: 1px solid $green;

    }

    ul {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 40px 15px;
        margin-top: 67px;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
        border-radius: 20px;
    }

    li {
        border-left: 1px solid rgba(215, 215, 221, 1);
        padding: 0 0 0 65px;

        img {
            max-width: 100%;
        }
    }

    li:first-child {
        border-left: none;
    }

    .li-card {
        max-width: 230px;
    }

    .li-title {
        @include heading-h3;
        margin: 24px 0 16px;
    }

    .li-p {
        @include p;
    }

    .li-card:hover {
        .li-title {
            color: $green;
        }
    }
}

@media screen and (max-width:950px) {
    header {
        .header-title {
            font-size: 40px;
            line-height: 45px;
        }

        .header-p {
            font-size: 13px;
            line-height: 16px;
            margin: 20px 0;
        }

        li {
            padding: 0 10px;
            text-align: center;

            img {
                display: block;
                margin: auto;
            }
        }

        .li-title {
            font-size: 16px;
            line-height: 20px;
            margin: 10px 0;
        }

        .li-p {
            font-size: 13px;
            line-height: 16px;
        }

    }
}

@media screen and (max-width:768px) {
    header {
        .header-main {
            flex-direction: column;
            max-width: 100%;

            .header-img {
                display: none;
            }

            .header-img2 {
                display: block;
            }

            .header-title {
                font-size: 44px;
                text-align: center;
            }

            .header-p {
                max-width: 100%;
                margin: 49px auto 44px;
                text-align: center;
                font-size: 16px;
                line-height: 24px;
            }

            .header-link {
                font-size: 16px;
                text-align: center;
                margin: 0 auto 73px;
                display: block;
                max-width: 105px;
            }

            .header-link:hover {
                border-bottom: 3px solid $green;
            }

            .header-br {
                display: block;
            }
        }

        .header-item {
            max-width: 100%;
        }

        ul {
            grid-template-columns: auto;
            padding: 0;
            box-shadow: none;
            background-color: transparent;
            margin-top: 40px;
        }

        li {
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
            border-radius: 20px;
            padding: 32px 32px 40px 32px;
            margin-bottom: 16px;

        }

        .li-card {
            max-width: 100%;
            display: flex;
            gap: 30px;
            align-items: center;
        }

        .header-li-txt {
            text-align: left;
            max-width: 395px;
        }

        .li-title {
            font-size: 20px;
            ;
            line-height: 27px;
        }

        .li-p {
            font-size: 16px;
            line-height: 24px;
        }

    }

}

@media screen and (max-width:510px) {
    header {
        .header-main {
            .header-title {
                font-size: 28px;
                line-height: 35px;
                font-weight: 600;
                text-align: left;
                max-width: 345px;
            }

            .header-p {
                font-size: 15px;
                line-height: 22.5px;
                text-align: left;
                margin: 32px 0;
            }

            .header-link {
                font-size: 15px;
                margin: 0 0 50px;
            }

            .header-img {
                display: block;

                img {
                    border-radius: 30px;
                }
            }

            .header-img2 {
                display: none;
            }

            .header-br {
                display: none;
            }
        }

        ul {
            margin-top: 55px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
            border-radius: 20px;
            padding: 25px 32px;
        }

        li {
            padding: 0;
            box-shadow: none;
            border: none;
        }

        .li-card {
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            margin-bottom: 25px;
        }

        .li-title {
            font-size: 18px;
            line-height: 24px;
            max-width: 220px;
        }

        .li-p {
            font-size: 15px;
            line-height: 22px;
        }
    }
}